.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  position: relative;
}

.gallery__item,
.image-container {
  aspect-ratio: 1;
}

.image-container {
  position: absolute;
  width: calc(50% - 8px);
  border-radius: 3rem;
  font-size: 3rem;

  cursor: pointer;

  background-color: var(--clr-white);
  color: var(--clr-dark-purple);

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
